<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Data</title>
</head>

<body>
    <form method="POST" action="/postList">
        <h1>Post Data</h1>

        <input type="text" name="title" placeholder="Enter title">
        <br><br>
        <textarea name="description" placeholder="Enter Description"></textarea>
        <br><br>
        <!-- <input type="text" name="image" placeholder="Enter image Url"> -->
        <br><br>
        <input type="text" name="price" placeholder="Enter price">
        <br><br>
        <input type="text" name="country" placeholder="Enter country">
        <br><br>
        <input type="text" name="location" placeholder="Enter location">
        <br><br>

        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>

</body>

</html>